:root {
  --color-bg-dark: black;
  --color-bg-button: #444;
  --color-bg-button-selected: #666;
  --color-bg-modal: #111;
  --color-backdrop: rgba(0, 0, 0, 0.7);
  --color-border: #666;
  --color-border-light: #888;
  --color-text: white;
}
